{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    // Off
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/member-ordering": "off",
    "@typescript-eslint/interface-name-prefix": "off",

    // Warns
    "@typescript-eslint/naming-convention": [
      "warn",
      {
        "selector": "variable",
        "types": ["boolean"],
        "format": ["camelCase"],
        "custom": {
          "regex": "^(is|has|are|have|was|had|were|can|do|does|should|would)",
          "match": true
        }
      },
      {
        "selector": "parameter",
        "format": ["camelCase"],
        "leadingUnderscore": "allow"
      },
      {
        "selector": "typeLike",
        "format": ["PascalCase"]
      },
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      },
      {
        "selector": "class",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/no-inferrable-types": "warn",
    "prefer-const": "warn",
    "no-console":"warn",
    "no-lonely-if": "warn",
    "no-unused-expressions": "warn",

    // FIXME: These ones should be errors !
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-ts-comment": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/prefer-as-const": "warn"
  }
}
